p.codeblock {
    font-family: monospace;
    font-size: 120%;
    padding: 1%;
    border: 2px dotted #c652c6;
    color: #eeeeee;
}

article {
    margin: auto;
    color: #eeeeee;
    margin-top: 1%;
    padding: 1%;
    border: 2px solid #202020;
    width: 65%;
}

header {
    width: 65%;
    text-align: center;
    margin: auto;
    margin-top: 0%;
    /*background-color: #070707;*/
    padding-left: 16px;
    padding-right: 16px;
    border: 2px solid #202020;
}
footer {
    text-align: center;
    border-top: 2px dotted #202020;
}

aside {

}

a.bigLink {
    color: #c652c6;
}

a:visited.bigLink {
    color: #c652c6;
}

.dropbtn {

}


div.mainInfoContainer {
    margin: 2%;
}

h1 {
    text-align: center;
    color: #c652c6;
    font-size: 250%;
    font-weight: bolder;
}

h2 {
    text-align: center;
    color: #c652c6;
    font-size: 175%;
    font-weight: bold;
}

h3 {
    color: #c652c6;
}

p {
    color: #eeeeee;
}

body {
    background-color: #070707;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 100%;
}
/* Main color: blacks and dark greys
   White text
   Highlights are #c652c6 (a magenta) and #202020 (purple)
   I might change these highlights later -- they're a bit bright and happy. */

